/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */
/* Desktop [1024+] */
@media (min-width: 1024px) {
  .trigram {
    display: none;
  }
  .top-navigation a:hover {
    color: chartreuse;
  }
}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */
/* Tablet [768 - 1023] */

@media (max-width: 1023px) and (min-width: 768px) {
  /* Auto layout */
  .portfolio-list {
    display: flex;
    flex-direction: column;
  }
  portfolio-item {
    display: flex;
    flex-direction: row;
  }
  .top-navigation a {
    display: none;
  }
  .trigram {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
}

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */
/* Mobile [360 - 767] */

@media (max-width: 767px) and (min-width: 360px) {
  .top-navigation {
    align-self: start;
    display: none;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
  }
}
